<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
 
  </head>
  <body>
    <div class="wrapper">
      <div class="content" role="main">
        
        <!-- This is the start of content for our page -->
        <h1 class="title">Hello Tay!</h1>

      </div>
    </div>
    <!-- The footer holds our remix button — you can use it for structure or cut it out ✂ -->

  </body>
</html>
